torch 
torchcontrib
numpy
soundfile
tqdm
librosa
kagglehub
matplotlib
tensorboard
seaborn
pandas
torchvision
transformers
sounddevice
streamlit
scikit-learn
scipy
sympy<1.13
hf_xet
transformers